@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,500;1,200;1,300&family=Roboto:wght@100;300;400;500&display=swap');

html {
    height: 100%;
}

body {
    background: url('/media/homepage_background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Roboto';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}


.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.btn-black {
    background: black;
    color: white;
}


.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.btn-dark:active, 
.btn-dark:focus,
.btn-dark:hover {
    background: #fff!important;
    border: 1px solid black;
    color: #000!important;
}

.brand-wrap:hover{
    text-decoration: none;
}

.list-menu li  {
    list-style: none;
    color: #000!important;
}

.box {
    padding: 18px;
    background: #fff;
    border-radius: 0.37rem;
    border: 1px solid #e4e4e4;
}

.box img {
    max-width: 100%;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.img-xs, .img-sm, .img-md, .img-lg {
    -o-object-fit: cover;
       object-fit: cover;
    flex-shrink: 0;
    flex-grow: 0;
}

.img-sm {
    width: 80px;
    height: 80px;
}

.price {
    font-weight: 600;
    color: #212529;
  }

  

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

